$base-font-size: 1em;
$them-color: blue;  
   body {
       color: $them-color;
       background-color: $them-color + 230;
       h1{
           color: $them-color -50;
           font-size: $base-font-size * 2;
       }
       h2{
           color: $them-color + 100;
           font-size: $base-font-size * 1.5;
       }

       input{
           background-color: $them-color + 200;
       }
   }

   